In [14]:
from portfolio import Portfolio
from datetime import date
import pandas as pd
import numpy as np

In [2]:
p = Portfolio()

In [8]:
data = p.data.copy()

In [10]:
data.set_index(pd.to_datetime(data.index), inplace=True)

In [11]:
sample_M = pd.concat([data.head(1), data.resample("M").last()])

In [12]:
sample_M

,Profit/Loss,Invested,Profit/Loss%,Value,Gains,Gains%
Date,,,,,,
2019-11-21,-29.620000,8057.09,-0.367627,8027.470000,NaN,NaN
2019-11-30,91.120000,8057.09,1.130929,8148.210000,-37.590000,-0.459210
2019-12-31,273.800000,8057.09,3.398249,8330.890000,-75.540000,-0.898598
2020-01-31,98.970000,14105.26,0.701653,14204.230000,-189.480000,-1.316408
2020-02-29,-2663.200000,25037.02,-10.637049,22373.820000,-1012.330000,-4.328759
2020-03-31,-5866.460000,26551.45,-22.094688,20684.990000,806.020000,4.054637
2020-04-30,-3624.120000,27309.61,-13.270493,23685.490000,-369.520000,-1.536146
2020-05-31,-3026.260000,28345.78,-10.676228,25319.520000,-316.830000,-1.401024
2020-06-30,-2436.720000,28345.78,-8.596412,25909.060000,-31.660000,-0.122047
2020-07-31,-1208.150000,28345.78,-4.262186,27137.630000,40.530000,0.149573
2020-08-31,-48.880000,28345.78,-0.172442,28296.900000,28.260000,0.099969
2020-09-30,-402.180000,28345.78,-1.418836,27943.600000,-191.360000,-0.680150
2020-10-31,-384.400099,28345.78,-1.356110,27961.379901,-105.110099,-0.374504

In [17]:
a = np.arange(1, len(sample_M)*4, 4)
len(a)

13

In [24]:
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
b = [m + "-" + y for m, y in zip([months[x-1] for x in sample_M.index.month], [str(x) for x in sample_M.index.year])]
b[0] = months[months.index(b[0][:-5]) - 1] + b[0][-5:]
b

['Oct-2019',
 'Nov-2019',
 'Dec-2019',
 'Jan-2020',
 'Feb-2020',
 'Mar-2020',
 'Apr-2020',
 'May-2020',
 'Jun-2020',
 'Jul-2020',
 'Aug-2020',
 'Sep-2020',
 'Oct-2020']

In [25]:
p.data.index[0]

datetime.date(2019, 11, 21)