In [2]:
from portfolio import Portfolio
from datetime import date, timedelta, datetime
import yfinance as yf
import pandas as pd
from etf import ETF
import numpy as np

In [8]:
p = Portfolio('RealData/Info.csv')

In [9]:
data = pd.read_csv('Info.csv', parse_dates=True)

In [11]:
data.sort_values(by='buy_date', axis=0, ascending=False, inplace=True)

,Name,buy_date,n_shares,buy_price,commissions_ini,sell_date,sell_price,info,sell_commissions
13,GDXJ.MI-1,2020-05-29,87,34.62,10.23,NaN,NaN,{},0.0
12,GDXJ.MI-0,2020-04-15,26,28.91,6.50,NaN,NaN,{},0.0
11,SWDA.MI-2,2020-03-19,36,41.78,10.35,NaN,NaN,{},0.0
7,CL2.MI-0,2020-02-11,1,2734.00,16.50,2020-05-27,1986.0,{},16.5
8,CSEMUS.MI-0,2020-02-11,7,221.35,7.78,NaN,NaN,{},0.0
9,CSEMUS.MI-1,2020-02-11,11,221.20,7.78,NaN,NaN,{},0.0
10,SWDA.MI-1,2020-02-11,70,59.61,10.35,NaN,NaN,{},0.0
6,AEEM.MI-2,2020-01-08,450,4.51,6.89,NaN,NaN,{},0.0
4,IWDP.MI-0,2020-01-03,100,25.01,9.00,NaN,NaN,{},0.0
5,AEEM.MI-1,2020-01-03,330,4.53,6.88,NaN,NaN,{},0.0
0,AEEM.MI-0,2019-11-21,360,4.21,6.89,NaN,NaN,{},0.0
1,SWDA.MI-0,2019-11-21,64,54.86,10.35,NaN,NaN,{},0.0
2,IUSE.MI-0,2019-11-21,22,68.36,6.61,NaN,NaN,{},0.0
3,UST.MI-0,2019-11-21,51,29.34,6.34,NaN,NaN,{},0.0

In [12]:
data

,Name,buy_date,n_shares,buy_price,commissions_ini,sell_date,sell_price,info,sell_commissions
0,AEEM.MI-0,2019-11-21,360,4.21,6.89,NaN,NaN,{},0.0
1,SWDA.MI-0,2019-11-21,64,54.86,10.35,NaN,NaN,{},0.0
2,IUSE.MI-0,2019-11-21,22,68.36,6.61,NaN,NaN,{},0.0
3,UST.MI-0,2019-11-21,51,29.34,6.34,NaN,NaN,{},0.0
4,IWDP.MI-0,2020-01-03,100,25.01,9.00,NaN,NaN,{},0.0
5,AEEM.MI-1,2020-01-03,330,4.53,6.88,NaN,NaN,{},0.0
6,AEEM.MI-2,2020-01-08,450,4.51,6.89,NaN,NaN,{},0.0
7,CL2.MI-0,2020-02-11,1,2734.00,16.50,2020-05-27,1986.0,{},16.5
8,CSEMUS.MI-0,2020-02-11,7,221.35,7.78,NaN,NaN,{},0.0
9,CSEMUS.MI-1,2020-02-11,11,221.20,7.78,NaN,NaN,{},0.0
10,SWDA.MI-1,2020-02-11,70,59.61,10.35,NaN,NaN,{},0.0
11,SWDA.MI-2,2020-03-19,36,41.78,10.35,NaN,NaN,{},0.0
12,GDXJ.MI-0,2020-04-15,26,28.91,6.50,NaN,NaN,{},0.0
13,GDXJ.MI-1,2020-05-29,87,34.62,10.23,NaN,NaN,{},0.0