In [1]:
from portfolio import Portfolio
from datetime import date, timedelta, datetime
import yfinance as yf
import pandas as pd
from etf import ETF
import numpy as np

In [2]:
p = Portfolio('RealData/Info.csv')

In [3]:
p.data.tail()

,Profit/Loss,Invested,Profit/Loss%,Value,Gains,Gains%
Date,,,,,,
2020-10-21,-2198.517973,3803.49,-57.802649,1604.972027,-51.208018,-3.091935
2020-10-22,-2140.669986,3803.49,-56.281730,1662.820014,57.847987,3.604299
2020-10-23,-293.423949,3803.49,-7.714598,3510.066051,1847.246037,111.091160
2020-10-26,-2170.512895,3803.49,-57.066349,1632.977105,-1877.088945,-53.477311
2020-10-27,-126.141457,3803.49,-3.316466,3677.348543,2044.371438,125.192903

In [16]:
def get_new_data(startDate):
    """
    Estract date from yahoo finance based on the start date and returns them.
    :param startDate: datetime.date
    :return pd.DataFrame
    """
    newData = yf.Ticker('WMT').history(start=startDate)
    newData['Date'] = newData.index
    newData['Date'] = newData['Date'].apply(lambda x: x.date())
    newData.set_index('Date', inplace=True)
    return newData

In [14]:
data = pd.read_csv('RealData/ETFs/EZJ.L-0.csv', parse_dates=True)
str_to_date = lambda x: date(int(x.split('-')[0]),int(x.split('-')[1]),int(x.split('-')[2].split(' ')[0]))
data = data[data['Date'] != data['Date'].shift(1)]
data['Date'] = data['Date'].apply(str_to_date)
data.set_index('Date', inplace=True)
data.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Prev Close,Var%,Var_from_Ini_%,Profit/Loss,Present_Value,Invested,OK
Date,,,,,,,,,,,,,,
2020-10-21,524.400024,532.000000,500.799988,504.200012,4199071,0,0,521.400024,-3.298813,1.407884,48.400024,1008.400024,960.0,True
2020-10-22,498.000000,537.400024,482.000000,534.599976,3352627,0,0,504.200012,6.029346,7.522116,109.199951,1069.199951,960.0,True
2020-10-23,536.000000,556.200012,531.599976,548.400024,3689510,0,0,534.599976,2.581378,10.297669,136.800049,1096.800049,960.0,True
2020-10-26,548.400024,548.400024,548.400024,548.400024,0,0,0,548.400024,0.000000,10.297669,136.800049,1096.800049,960.0,True
2020-10-27,539.799988,552.599976,507.000000,520.000000,1167286,0,0,548.400024,-5.178706,4.585677,80.000000,1040.000000,960.0,True

In [18]:
newData = get_new_data(data.index[-1])
a = list(newData.index)
if len(a) > 1:
    if a[-1] == a[-2]:
        a[-1] = nextWeekDay(a[-1])
    newData.index = a

In [19]:
newData

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2020-10-26,142.839996,143.119995,140.940002,142.160004,5366800,0,0
2020-10-27,142.839996,142.720001,142.080002,142.669998,165341,0,0

In [17]:
def nextWeekDay(day):
    weekDay = day.weekday()
    if weekDay < 4 or weekDay == 6:
        return day + timedelta(1)
    else:
        return day + timedelta(7-weekDay)

In [20]:
for row in newData.index:
    if row in data.index:
        data.drop(row, inplace=True)
data = pd.concat([data, newData])

In [21]:
data.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Prev Close,Var%,Var_from_Ini_%,Profit/Loss,Present_Value,Invested,OK
2020-10-21,524.400024,532.000000,500.799988,504.200012,4199071,0,0,521.400024,-3.298813,1.407884,48.400024,1008.400024,960.0,True
2020-10-22,498.000000,537.400024,482.000000,534.599976,3352627,0,0,504.200012,6.029346,7.522116,109.199951,1069.199951,960.0,True
2020-10-23,536.000000,556.200012,531.599976,548.400024,3689510,0,0,534.599976,2.581378,10.297669,136.800049,1096.800049,960.0,True
2020-10-26,142.839996,143.119995,140.940002,142.160004,5366800,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-27,142.839996,142.720001,142.080002,142.669998,165341,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
data.insert(0, 'Date', data.index)

datetime.date(2020, 10, 27)

In [33]:
#data.to_csv('RealData/ETFs/EZJ.L-0.csv', index=False)

In [7]:
yf.Ticker('LYM9.DE').history(start=date(2020,10,1))

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-10-27,35.494999,35.715,35.244999,35.244999,51362,0,0

In [29]:
b = yf.Ticker('BA').history(start=date(2020,10,1))

In [30]:
a = yf.Ticker('EURUSD=X').history(start=date.today()).iloc[-1]['Close']

In [32]:
b[['Open','High','Low','Close']] = b[['Open','High','Low','Close']] / a

In [33]:
b

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-09-30,139.232804,144.717472,138.902708,139.876063,37708000,0,0
2020-10-01,144.014959,146.224063,140.138458,142.076708,30677100,0,0
2020-10-02,136.998308,143.701795,136.947526,142.262918,31773800,0,0
2020-10-05,143.456345,145.648518,141.780463,144.903681,19082100,0,0
2020-10-06,146.461054,148.593986,134.856917,135.034654,47132500,0,0
2020-10-07,138.564154,140.790177,137.438440,139.325908,26019100,0,0
2020-10-08,140.688613,142.271377,138.420254,142.195204,20598600,0,0
2020-10-09,143.828750,143.888004,141.196458,141.628117,17406000,0,0
2020-10-12,141.983604,143.210881,140.460081,141.645049,12176600,0,0
2020-10-13,139.960708,140.104595,137.192977,137.235299,15182600,0,0
2020-10-14,137.709281,139.799890,137.531544,138.166344,10541800,0,0
2020-10-15,136.278863,139.266654,134.349072,139.012745,13226800,0,0
2020-10-16,144.920613,146.782691,141.577336,141.645049,31780600,0,0
2020-10-19,143.117777,144.598977,140.595508,141.441908,16519600,0,0
2020-10-20,142.440654,143.287054,140.654750,141.551945,12319900,0,0
2020-10-21,140.874822,141.882040,138.657258,138.691108,11450600,0,0
2020-10-22,139.402081,143.574840,138.894249,143.100858,14238200,0,0
2020-10-23,143.879545,144.108063,140.544726,141.653508,10024200,0,0
2020-10-26,139.613681,140.079204,134.619926,136.126517,16101300,0,0
2020-10-27,134.713031,135.635604,131.192004,131.386672,14852461,0,0

In [28]:
'SWDA.L-0'.split('-')[0].split('.')[1]

'L'